@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-content a {
  @apply text-blue-500 font-bold bg-blue-50 border border-blue-300 rounded px-1;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.page {
  animation: pageIn 0.3s ease-in-out;
}

@keyframes pageIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
